
<template>
    <form class="config-container was-validated" novalidate>
        <div>
            <ConfigCombo></ConfigCombo>
        </div>
        <div class="card">
            <div class="card-block">
                <h2>
                    Configuration Fields ({{fieldCount}}) 
                    <icon-button 
                        icon="plus" 
                        @click.native="$store.commit('addField')"
                    ></icon-button>
                </h2>

                <configuration-header></configuration-header>

                <div v-for="field in orderedFields" :key="_uid" class="configuration-field-row row">
                    
                    <row-control-buttons 
                        :list="orderedFields" 
                        :row="field"
                        @moveItem="moveFieldItem"
                        @delete="$store.commit('deleteField', field)"
                    >
                    </row-control-buttons>
                    
                    <div :class="{
                            'col-1': true, 
                            'has-danger': field.key == null
                        }">
                        <input 
                            class="form-control" 
                            name="key" 
                            :value="field.key" 
                            required 
                            @change="fieldDefinitionChanged($event, field)"
                        >
                    </div>
                    <div :class="{
                            'col-4': true,
                            'has-danger': field.label == null
                        }">
                        <input 
                            :class="{
                                'form-control': true
                            }" 
                            required
                            name="label" 
                            :value="field.label" 
                            @change="fieldDefinitionChanged($event, field)"
                        >
                    </div>
                    <div :class="{
                            'col-2': true,
                            'has-danger': field.type == null
                        }">
                        <Combo 
                            class="form-control" 
                            name="type" 
                            required
                            :value="field.type" 
                            :selectedValue="field.type" 
                            :options="fieldTypeOptions" 
                            @change.native="fieldDefinitionChanged($event, field)"
                        ></Combo>
                    </div>
                    <div class="col-1 text-center">
                        <input 
                            class="" 
                            name="required" 
                            type="checkbox" 
                            :checked="field.required" 
                            @change="fieldDefinitionChanged($event, field)"
                        >
                    </div>
                    <div class="col-2">
                        <div v-if="field.type === 'select' || field.type === 'radio'" >
                            <a href="#" class="badge badge-default" @click="onClickEditValues($event, field)">
                                <icon name="edit" class="align-middle">
                                </icon>
                                Edit
                            </a>
                            {{ (field.values || []).map(v => v.desc).join(', ') }}
                        </div>
                        <input 
                            class="form-control"
                            v-if="field.type === 'checkbox'" 
                            name="values" 
                            :value="field.values" 
                            placeholder="Submit Value" 
                            @change="fieldDefinitionChanged($event, field)"
                        >
                    </div>
                    <value-list-modal 
                        v-if="currentEditField === field.key"
                        :field="field"
                        @close="$store.commit('setFieldForEdit', null)"
                        @save="saveFieldValues"
                    ></value-list-modal>
                </div>
            </div>
        </div>
        
    </form>
</template>

<script>
import { mapState, mapMutations, mapGetters } from 'vuex'
import Combo from '../fields/Combo.vue'
import ConfigCombo from '../fields/ConfigCombo.vue'
import ConfigurationHeader from './ConfigurationHeader.vue'
import IconButton from '../IconButton.vue'
import RowControlButtons from './RowControlButtons.vue'
import ValueListModal from './ValueListModal.vue'

export default {
    name: 'Configure',
    components: {
        Combo: Combo,
        ConfigCombo: ConfigCombo,
        'icon-button': IconButton,
        'row-control-buttons': RowControlButtons,
        'configuration-header': ConfigurationHeader,
        'value-list-modal': ValueListModal
    },
    data: function() {
        return {
            showValueSelectionModal: false
        }
    },
    computed: {
        ...mapState(['currentEditField']),
        ...mapGetters(['fieldTypeOptions', 'orderedFields', 'fieldCount', 'currentEditFieldValues'])
    },
    methods: {
        ...mapMutations(['updateFieldDefinition', 'moveFieldItem']),
        fieldDefinitionChanged: function(e, field) {
            const updateValues = {...field}
            if (e.target.type === 'checkbox') {
                if (e.target.checked) {
                    updateValues[e.target.name] = e.target.value
                } else {
                    updateValues[e.target.name] = ''
                }
            } else {
                console.log(e.target.name, e.target.value)
                updateValues[e.target.name] = e.target.value
            }
            this.updateFieldDefinition(updateValues)
        },
        fieldWithValues: function(type) {
            return {
                checkbox: true,
                radio: true,
                select: true,
            }[type] || false
        },
        onClickEditValues: function(e, field) {
            e.preventDefault()
            console.log('in here');
            this.$store.commit('setFieldForEdit', field)
        },
        saveFieldValues: function(field, list) {
            const newValues = {}
            list.forEach((item) => {
                newValues[item.value] = item.desc;
            })
            field.values = newValues
            this.$store.commit('setFieldForEdit')
        }
    }
}

</script>

<style lang="scss">
@import "node_modules/bootstrap/scss/bootstrap.scss";

.config-container {
    padding-top: 1em;
}
.configuration-field-row {
    padding-bottom: 1em;    
}
</style>
