<template>
    <div class="column-headers row">
        <div class="row-control-buttons">
            
        </div>
        <div class="col-1 ">
            Code
        </div>
        <div class="col-4">
            Label
        </div>
        <div class="col-2">
            Type
        </div>
        <div class="col-1 text-center">
            Required?
        </div>
        <div class="col-2">
            Values/Submit Value
        </div>
    </div>
</template>


<script>
export default {
    name: 'configuration-header'
}
</script>

<style scoped>
.row-control-buttons {
    width: 130px;
}
</style>