<template>
  <span>
    {{cellText}}
  </span>
</template>

<script>
  export default {
    props: {
      column: Object, 
      item: Object
    },
    data: function(){
      return {

      }
    },
    computed: {
      cellText: function(){   
        if (this.column.value == 'country_code' && this.item.country) {
          return this.item.country.country_description
        } else if (this.column.value == 'global_involvement_id' && this.item.global_involvement_option)  {
          return this.item.global_involvement_option.descr
        } else if (this.column.value == 'institute' && this.item.institute)  {
          return this.item.institute
        } else if (this.column.value == 'language_id' && this.item.language) {
          return this.item.language.language
        } else {
          return _.get(this.item, this.column.value) 
        }
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>