<template>
    <div class="row-control-buttons">
        <button 
            type="button" 
            class="btn btn-sm" 
            :disabled="isFirstField(row)"
            @click="$emit('moveItem', {dir: 'up', item: row})"
        >
            <icon name="arrow-up" class="align-middle"></icon>
        </button>
        
        <button 
            type="button" 
            class="btn btn-sm"
            :disabled="isLastField(row)"
            @click="$emit('moveItem', {dir: 'down', item: row})"
        >
            <icon name="arrow-down" class="align-middle"></icon>
        </button>

        <button
            type="button" 
            class="btn btn-sm"
            @click="$emit('delete', row)"
        >
            <icon name="trash" class="align-middle"></icon>
        </button>
    
    </div>

</template>

<script>
//icon comes from vue-awesome which we are using globally in many places.

import { mapGetters } from 'vuex'

export default {
    props: ['list','row'],
    name: 'row-control-buttons',
    methods: {
        isFirstField: function(row) {
            return this.list.indexOf(row) === 0
        },
        isLastField: function(row) {
            return this.list.indexOf(row) === (this.list.length - 1)
        }
    }
}

</script>

<style lang="scss">
.row-control-buttons {
    width: 130px;
}
</style>
