<template>
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">
    
                    <div class="modal-header">
                        Set Values for: {{field.key}}) {{field.label}}
                    </div>
    
                    <div v-if="field.type !== 'checkbox'" class="modal-body">

                        <div name="column-headers" class="row">
                            <div class="col-4">
                                <icon-button icon="plus" @click.native="onAddValue">Add Value</icon-button>
                            </div>
                            <div class="col-4">
                                Value
                            </div>
                            <div class="col-4">
                                Display
                            </div>
                        </div>
                        <div v-for="(item, index) in this_list" :key="item.id" class="value-row row">
                            <row-control-buttons 
                                :list="this_list" 
                                :row="item" 
                                class="col-4"
                                @moveItem="moveFieldValueItem"
                                @delete="deleteEditValueItem"
                            ></row-control-buttons>
                            <div class="col-4">
                                <input class="form-control" v-model="item.value">
                            </div>
                            <div class="col-4">
                                <input class="form-control" v-model="item.desc">
                            </div>
                        </div>

                    </div>
    
                    <div class="modal-footer">
                        <button class="modal-default-button btn" @click="$store.commit('clearEditField', field)">
                            Cancel
                        </button>
                        <button class="modal-default-button btn" @click="$store.commit('saveEditFieldValues', field)">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>


<script>
import { mapState, mapGetters, mapMutations } from 'vuex'

import IconButton from '../IconButton.vue'
import RowControlButtons from './RowControlButtons.vue'

export default {
    props: ['field'],
    name: 'value-list-modal',
    data: function() {
        return {
            this_list: this.field.editValues
        }
    },
    components: {
        'row-control-buttons': RowControlButtons,
        "icon-button": IconButton
    },

    computed: {
        
    },
    methods: {
        ...mapMutations(['moveFieldValueItem', 'deleteEditValueItem']),
        onAddValue: function() {
            this.$store.commit('addValueEditValues', this.field)
        },
        moveItem: function() {
            console.log(arguments)
        }
    }
}
</script>


<style scoped>
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 600px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin: 20px 0;
}

.modal-default-button {
    float: right;
}


/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
</style>