<script>

// config.key
// config.label

export default {
    name: 'checkbox',
    props: ['config', 'disabled', 'value'],
    computed: {
        fieldName: function() {
            return "schemable__" + this.config.key;
        }
    },
    methods: {
        checkboxChange: function(e) {
            this.$emit('input', e.target.value)
        }
    }
}
</script>
<template>

    <v-checkbox
        :label="config.label"
        :name="fieldName" 
        :v-model="config.value" 
        :checked="config.value === value"
        :disabled="disabled"
        @change="checkboxChange"
    ></v-checkbox>


</template>


