<template>

<!-- removed @change="selectChanged(config.key, ...arguments)"-->
<v-select 
  :label="label" 
  v-model="selectValue"
  :items="formattedOptions"
  item-text="desc"
  return-object
  singleLine
>

<template slot="item" slot-scope="props">
  <div>
    <h3>{{props.item.desc}}</h3>
    <ul v-if="config.optionsAPI">
      <li v-for="descriptor in props.item.descriptors">
        {{descriptor.descr}}
      </li>
    </ul>
  </div>
</template>

</v-select>
</template>

<script>
import {mapState, mapMutations} from 'vuex';

export default {
  name: 'wit-combo',
  props: ['options', 'label', 'value','config'],
  mounted: function(){
    this.setOptions();  
  },
  data: function(){
    return {
      formattedOptions:[]
    }
  }, 
  computed: {
    ...mapState({ currentEditRecord: state => state.dynamicFormTable.currentEditRecord,
    updateTableRecordSelected: state => state.dynamicFormTable.updateTableRecordSelected,
    createTableRecordSelected: state => state.dynamicFormTable.createTableRecordSelected,
    copyTableRecordSelected: state => state.dynamicFormTable.copyTableRecordSelected,
    profile: 'profile',
    reportingPeriod: 'reportingPeriod',
    reportId: 'reportId',
    countrySelect() {
      return this.currentEditRecord.country_code;
    }
    }),
    selectValue: {
      get: function() {
        if (this.config.key == 'institute' && 
        this.currentEditRecord.institute) {
          let val = this.value;
          let option = this.formattedOptions.find(obj => obj.desc == val)
          if(option){
            return {"desc": option.desc, "value": option.value}
          }
          
        } else 
        if (this.config.key == 'global_involvement_id' && 
        this.currentEditRecord.global_involvement_option) {
          return {"desc":this.currentEditRecord.global_involvement_option.activity_id,"value":this.value}
        } else if (this.config.key == 'language_id' &&
        this.currentEditRecord.language_id) {
          return {"desc":this.currentEditRecord.language,"value":this.value}
        } else {
          return {"desc":"","value":this.value}
        }
      },
      set: function(value) {
        let currentRecord = Object.assign({},this.currentEditRecord);

        if (this.config.key == 'country_code' && value) {
          currentRecord.country = {}
          currentRecord.country.description = value.desc;
          currentRecord.country_code = value.value;
        } else if (this.config.key == 'institute' && value) {
          currentRecord.institute = value.desc
        } else if (this.config.key == 'global_involvement_id' && value) {
          currentRecord.global_involvement_option = {}
          currentRecord.global_involvement_option.descr = value.desc;
          currentRecord.global_involvement_option.activity_id = value.value;
          currentRecord.global_involvement_id = value.value;
        } else if (this.config.key == 'language_id' && value) {
          currentRecord.language = value.desc;
          currentRecord.language_id = value.value;
        } else if (value){ 
          currentRecord[this.config.key] = value.value
        }

        this.setCurrentEditRecord(currentRecord);
  
      }
    }
  },
  methods: {
    ...mapMutations({
      setCurrentEditRecord: 'dynamicFormTable/setCurrentEditRecord'
    }),
    clearSelect: function(stateValue){
      if(!stateValue){
        this.selectValue = null;
      }
    },
    setOptions: function(){
      let options = this.options;
      let config = this.config;
      let currentRecord = Object.assign({},this.currentEditRecord);

      if(options[0]){
        if(!options[0].hasOwnProperty('desc')){
          const optionsArray = []
          options.forEach(value => {
            optionsArray.push({
              value: value,
              desc: value
            })
          })
          this.formattedOptions = optionsArray;
        } else {
          this.formattedOptions = this.options;
        }
      
      } else if (config.optionsAPI != ''){

        axios({
        method: 'get',
        url: this.config.optionsAPI.includes("institutions") ? `${this.config.optionsAPI}/${this.currentEditRecord.country_code}`: this.config.optionsAPI,
        headers: {'X-Requested-With': 'XMLHttpRequest', 'content-type':'application/json'}
        }).then(resp => {
          let data = resp.data;
          let itemArray = [];

          
          if(!Array.isArray(data)){

          //console.log(data)
            for (const key in data) {
              let obj = {};
              obj.desc = data[key];
              obj.value = key;

              //countries 
              if(this.config.optionsAPI.includes("countries")) {
                obj.country = {country_code: key, description: data[key]}
              }

              itemArray.push(obj);
            }

            this.formattedOptions = itemArray;

          } else {

            if(this.config.id == 'institute' && this.selectValue == undefined && this.value){
              currentRecord.institute_other = this.value;
              this.setCurrentEditRecord(currentRecord);
            }

            for(let i = 0; i < data.length; i++) {
              let obj = {};
              obj.desc = data[i].descr;
              obj.value = data[i].descr;
              obj.id = data[i].id;

              //properties below are only for global involvement
              if(data[i].global_involvement_option_descriptors){
                obj.descriptors = data[i].global_involvement_option_descriptors;
                obj.global_involvement_id = data[i].activity_id;
                obj.value = data[i].activity_id;
              }
              

              itemArray.push(obj)
              
              if(i == data.length - 1) {
                //console.log(itemArray);
                this.formattedOptions = itemArray;
              }
            }

          }
        })
      }
    }
  },
  watch: {
    updateTableRecordSelected(stateValue){
      this.clearSelect(stateValue)
      // this.setOptions()
    },
    createTableRecordSelected(stateValue){
      this.clearSelect(stateValue)
    },
    copyTableRecordSelected(stateValue){
      this.clearSelect(stateValue)
    },
    countrySelect: function(){
      console.log("country change")
      this.setOptions()
    }
  }

}

</script>

<style>
  .v-list__tile {
    height: auto;
  }
</style>
