<template>
    <fieldset class="form-group">
        <label>Configurations:</label>
        <WitCombo class="form-control" 
            :options="configOptions" 
            :selectedValue="selectedConfigName" 
            @change="configComboChanged"
        ></WitCombo>
    </fieldset>
</template>
  
<script>
import { mapGetters, mapState, mapMutations } from 'vuex'
import Combo from './Combo.vue'

export default {
    
    components: {
        WitCombo: Combo
    },
    name: 'config-combo',
    computed: {
        ...mapGetters(['configOptions']),
        ...mapState(['selectedConfigName', 'configs'])
    },
    methods: {
        ...mapMutations(['changeActiveConfig']),
        configComboChanged: function(e) {
            this.$store.commit('changeActiveConfig', e.target.value)
        }
    }

}
</script>