<template>
<div>
    <v-menu
        ref="menu"
        lazy
        :close-on-content-click="false"
        v-model="menu"
        transition="scale-transition"
        offset-y
        full-width
        :nudge-right="40"
        min-width="290px"
    >
        <v-text-field
        :label="config.label"
        v-model="fieldValue"
        :rules="[rules.required]"
        slot="activator"
        prepend-icon="event"
        readonly
        required
        ></v-text-field>
        <v-date-picker v-model="fieldValue" no-title scrollable>
            <!-- <v-spacer></v-spacer> -->
            <v-btn depressed color="primary" @click="menu = false">Cancel</v-btn>
            <v-btn depressed color="primary" @click="$refs.menu.save(config.value)">OK</v-btn>
        </v-date-picker>
    </v-menu>
</div>
</template>
<script>
import {mapState, mapMutations} from 'vuex';

export default {
    name: 'datefield',
    props: {
        'value': { type: String },
        'config': {
            default: {}
        }, 
        'disabled': null,
        'labelClass': String
    },
    data(){
        return {
            rules: {
                required: (value) => !!value || 'Required.',
            },
            menu: false,
        }
    },
    computed: {
        ...mapState({ profile:'profile', 
        reportingPeriod:'reportingPeriod', 
        currentEditRecord: state => state.dynamicFormTable.currentEditRecord}),
        fieldName: function() {
          return "schemable__" + this.config.key;
        },
        fieldValue: {
          get: function () {
            if (this.currentEditRecord[this.config.key]) {
              return this.currentEditRecord[this.config.key]
            } else return this.config.value
            
          },
          set: function(value){
            let currentRecord = Object.assign({},this.currentEditRecord);
            currentRecord[this.config.key] = value;
            this.setCurrentEditRecord(currentRecord);
          }
        }
    },
    methods: {
        ...mapMutations({
            setCurrentEditRecord: 'dynamicFormTable/setCurrentEditRecord'
        }),
    }
}

</script>

<style>
.vdp-datepicker .white-background.form-control[readonly] {
    background-color: white; 
}
</style>