<script>
/**
 * This is a container for the dynamic fields
 * some 'standard' configurations use the same html layout with 
 * basic html elements like input, select or text area 
 * 
 * Others require custom layouts (Checkbox and radio) or completely
 * custom components (sometimes with all the choices coming from external ajax or hard coded.)
 * 
 * 
 * field configs:
 * 
 * ['key', 'type', 'format', 'required', 'values', 'label']
 * 
 * [template below]
 */
import Checkbox from './Checkbox.vue'
import Combo from './Combo.vue'
import MultiFiscal from './MultiFiscal.vue'
import RadioField from './RadioField.vue'
import MultiCheckbox from './MultiCheckbox.vue'
import DateField from './DateField.vue'
import WitTextArea from './TextArea.vue'
import NoteField from './NoteField.vue'
import NumberField from './NumberField.vue'
import RichText from './RichText.vue'
import Table from './Table.vue'
import Unknown from './Unknown.vue'
import Upload from './Upload.vue'

export default {
    name: 'dynamic-field',
    props: {
        'field': Object, 
        'value': null, 
        'disabled': {
          type: Boolean,
          default: false
          }, 
        'apiParams': Object, 
        'validation': {
            type: Object,
            default: function() {
                return {
                    valid: true
                }
            }
        },
        'visible': {
          type: Boolean,
          default: true
        }
    },
    
    components: {
        combo: Combo,
        checkbox: Checkbox,
        datefield: DateField,
        'dynamic-table': Table,
        multifiscal: MultiFiscal,
        multiyear: MultiFiscal,
        multicheckbox: MultiCheckbox,
        'wit-number': NumberField,
        radio: RadioField,
        'wit-richtext': RichText,
        'wit-textarea': WitTextArea,
        notefield: NoteField,
        unknown: Unknown,
        upload: Upload
    },
    data: function() {
        return {
            // determines which types from the field definition config
            // are presented in the base format vs a custom component
            standardTypes: {
                text: 1,
                select: 1
            },
            touched: false,
            valid: true,
            errorMessage: '',

            // maps all field definition config types to the html (or custom) component 
            // which is rendered. It is ok for multiple keys (left) to have the same value
            htmlTypes: {
                checkbox: 'checkbox',
                date: 'datefield',
                multicheckbox: 'multicheckbox',
                multiyear: 'multiyear',
                multifiscal: 'multifiscal',
                number: 'wit-number',
                notefield: 'notefield',
                radio: 'radio',
                richtext: 'wit-richtext',
                select: 'combo',
                table: 'dynamic-table',
                text: 'wit-textarea',
                textarea: 'wit-textarea',
                unknown: 'unknown',
                upload: 'upload'
            }
        }
    },
    updated: function(){
      // console.log('field updated');
      // console.log(this.value);
    },
    computed: {
        amount: function() {
            let value = this.valueNumber;
            return value.toFixed(this.field.precision)
        },
        requiredClass: function() {
            if (!this.disabled && this.field.required) {
                return 'required';
            } else {
                return '';
            }
        },
        fieldName: function() {
            return "schemable__" + this.field.key
        },
        showErrorClass: function() {
            return !this.disabled && this.touched && !this.validation.valid
        },
        valueNumber: function() {
            return parseFloat(this.value, 10)
        }

    },
    methods: {
        isStandardType: function() {
            if (this.standardTypes[this.field.type]) {
                return true;
            } else {
                return false;
            }
        },
        getHtmlType: function() {
            return this.htmlTypes[this.field.type] || 'unknown';
        },
        valueUpdated: function(e) {
            let value = e;
            this.touched = true;
            // if (e && e.hasOwnProperty(target)) {
            //     value = e.target.value;
            // } else if (e.hasOwnProperty(value)) {
            //     value = e.value;
            // } 
            this.$emit('input', value);

            if(this.field.api_fact == 'global_involvement') {
              value == 'Yes' ? this.$emit('questionControllerInput', true) : this.$emit('questionControllerInput', false);
            }
        },
        onBlur: function() {
            this.touched = true;
        }
    }
}

</script>

<template>
    <v-layout :class="{
            'dynamic-field': true
        }">
        <v-flex xs12>
                <!-- <component v-if="isStandardType()"
                    :is="getHtmlType()" 
                    :class="{
                        'form-control': true,
                        'is-invalid': showErrorClass
                    }" 
                    :disabled="disabled" 
                    :name="fieldName" 
                    :options="field.values" 
                    :type="field.format" 
                    :value="value"
                    :maxlength="field.maxlength"
                    :label="field.label"
                    :apiParams="apiParams"
                    @input="valueUpdated"
                    @blur="onBlur"
                ></component> -->
                <component 
                    v-if="visible"
                    :is="getHtmlType()" 
                    :componentType="getHtmlType()" 
                    :config="field" 
                    :options="field.values"
                    :disabled="disabled" 
                    :value="value" 
                    :apiParams="apiParams"
                    :label="field.label"
                    :labelClass="requiredClass"
                    :isValid="!showErrorClass"
                    :errorMessage="validation.errorMessage"
                    @input="valueUpdated(...arguments)"
                    @blur="onBlur"
                ></component>
                <!-- <div v-if="!disabled" class="invalid-feedback">{{validation.errorMessage}}</div> -->
                <h6 v-if="field.note && field.type != 'table'" class="note">{{field.note}}</h6>
        </v-flex>
    </v-layout>
</template>

<style scoped>
.v-content__wrap .container .dynamic-field {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.note {
  margin-top: 4px;
}
</style>