<script>
import Combo from './Combo.vue'
import uuid from 'uuid/v4'

export default {
    name: 'multifiscal',
    components: {
        combo: Combo
    },
    props: ['config', 'required', 'disabled', 'value', 'componentType'],


    
    data: function() {
        const years = {};
        let yearLabel = 'year';
        let currentYear = new Date().getFullYear();

        if (this.componentType === 'multifiscal') {
            yearLabel = 'Fiscal Year';
            if (new Date().getMonth() >= 9) {
                currentYear++
            }
        }
        for (let i=currentYear - 25;i<currentYear + 26;i++) {
            years[''+ i] = '' + i;
        }
        
        const things = {};
        if (this.value) {
            const value = JSON.parse(this.value);
            Object.keys(value).forEach(function(yearKey) {
                things[uuid()] = {
                    year: yearKey,
                    value: value[yearKey],
                }
            })
        } else {
            
            const firstYear = '' + (new Date().getFullYear() - 1);
    
            things[uuid()] = {
                year: firstYear,
                value: ''
            };
        }

        return {
            options: years,
            things: things,
            yearLabel: yearLabel
        }
    },
    computed: {
        submitValue: function(state) {
            const keys = Object.keys(this.things);
            const submitJson = {}
            const things = this.things;
            
            keys.forEach(function(k) {
                const value = things[k];
                submitJson[value.year] = value.value;
            })
            return JSON.stringify(submitJson)
        },
        fieldName: function() {
            return "schemable__"+this.config.key
        }
    },
    methods: {
        comboName: function(num) {
            return "schemable_multiyear__"+this.config.key+"__year__" + num
        },
        inputName: function(num) {
            return "schemable_multiyear__"+this.config.key+"__value__" + num
        },
        
        clickAddRow: function() {
            var keys = Object.keys(this.things);
            let nextYear = '' + (new Date().getFullYear() - 1);
            if (keys.length > 0) {
                nextYear = '' + (parseInt(this.things[keys[keys.length - 1]].year, 10) + 1);
            }
            this.$set(this.things, uuid(), {
                year: nextYear,
                value: ''
            });
            this.$emit('input', this.submitValue)
        },
        clickRemoveRow: function(key) {
            this.$delete(this.things, key);
            this.$emit('input', this.submitValue)
        }
    }
}
</script>

<template>

<div class="row" :title="config.tooltip">
    <div class="col-lg-8">
        <table schemable="multifiscal" class="addremove">
            <thead>
                <tr>
                    <th style="white-space: nowrap; padding-right: 1em;">{{yearLabel}}</th>
                    <th width="100%">{{config.label}}</th>
                    <th v-if="!disabled" class="addremove-action">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(value, key, index) in things" :key="key">
                    <td>
                        <combo 
                            :name="comboName(index)" 
                            class="form-control" 
                            :options="options" 
                            :disabled="disabled" 
                            :required="required" 
                            @input="$emit('input', submitValue)"
                            v-model="value.year"
                        ></combo>
                    </td>
                    <td>
                        <input 
                            type="text" 
                            :name="inputName(index)" 
                            class="form-control" 
                            :disabled="disabled" 
                            :required="required" 
                            @input="$emit('input', submitValue)"
                            v-model="value.value"
                        >
                    </td>
                    <td v-if="!disabled" ><a @click.prevent="clickRemoveRow(key)"><span class="fa fa-remove"></span></a></td>
                </tr>
            </tbody>
        </table>
        <p v-if="!disabled" class="addremove-action"><a @click.prevent="clickAddRow" tabindex="-1"><span class="fa fa-plus">Add {{config.label}}</span> </a></p>
        <input type="hidden" :name="fieldName" :value="submitValue" @change="$emit('input', submitValue)"></input>
    </div>
</div>

</template>

<style scoped>

    tbody tr:first-child {
        border-top: 1px solid #E5E5E5;
    }
    tr {
        border-bottom: 1px solid #E5E5E5;
    }
    td {
        padding: 0.5em;
    }
    a:hover {
        cursor: pointer;
    }
    span {
        color: black;
    }
</style>