<script>

export default {
    name: 'multicheckbox',
    props: ['config', 'disabled', 'value'],
    data: function() {
        let values = this.value || [];
        if (typeof this.value === 'string') {
            if (this.value.indexOf(',') > -1 || this.value.indexOf('[') > -1) {
                values = JSON.parse(this.value);
            } else {
                values = this.value;
            }
        }
        return {
            values: values,
            selected: values
        }
        
    },
    methods: {
        
        checkboxName: function(optionKey) {
            return "schemable__" + this.config.key + "__" + optionKey
        },
        itemChecked: function(option) {
            const optionIndex = this.values.indexOf(option);
            if (optionIndex > -1) {
                this.values.splice(optionIndex, 1);
            } else {
                this.values.push(option);
                this.$emit('input', this.submitValue)
            }
        }
        
    },
    computed: {
        fieldName: function() {
            return "schemable__" + this.config.key
        },
        submitValue: function() {
            return JSON.stringify(this.values);
        }
    }
    
}
</script>


<template>
<div>
   <!-- <label class="heading">{{config.label}}</label>

    <label v-for="(option, key, item) in config.values" :key="option.id" :title="config.tooltip">
        <input 
            type="checkbox" 
            :name="checkboxName(key)" 
            :checked="values.indexOf(option.value) > -1" 
            :value="option.value" 
            :disabled="disabled"
            @change="itemChecked(option.value, $event)"
        >
        {{option.desc}}
    </label> -->
    <v-checkbox
        v-for="value in config.values"
        v-model="selected"
        :name="fieldName" 
        :key="value.id"
        :label="value.desc"
        :value="value"
        @change="itemChecked(value, $event)"
      ></v-checkbox>
    
    <input type="hidden" :name="fieldName" :value="submitValue" @change="$emit('input', submitValue)"></input>

</div>
</template>

<style scoped>
label {
    display: block;
}
</style>