<script>
export default {
    name: 'notefield',
    props: ['config', 'disabled', 'value']
}
</script>


<template>
<div>
<label 
    :title="config.tooltip"
    :class="{
        'note-header': config.header
    }"
>
    {{config.label}}
</label>

<div class="note-container">{{config.value}}</div>
</div>
</template>

<style scoped>
.note-container {
    font-size: 0.8em;
    white-space: pre-wrap;
}
.note-header {
    font-size: 1.8em;
    color: #4E2A84;
}
</style>