<template>
    <div>
        <label 
            :title="config.tooltip"
            :for="fieldName"
            :class="labelClass"
        >{{config.label}}</label>
        <v-text-field ref="numField"
            :class="{
                'form-control': true,
                'is-invalid': !isValid
            }" 
            :disabled="disabled" 
            :name="fieldName" 
            v-model="fieldValue"
            :value="value"
            :min="config.minvalue"
            :max="config.maxvalue"
            @input="inputReceived"
            box
        ></v-text-field>
        
        <div class="invalid-feedback">{{errorMessage}}</div>
    </div>
</template>

<script>
import AutoNumeric from 'autonumeric'
import axios from 'axios';
import {mapState} from 'vuex';

export default {
    name: 'wit-number',

    props: {
        'value': String,
        'config': {
            default: {

            }
        }, 
        'disabled': null,
        'labelClass': String,
        isValid: {
            default: true,
            type: Boolean
        },
        errorMessage: {
            default: '',
            type: String
        }
    },
    mounted: function() {
      new AutoNumeric(this.$refs.numField.$refs.input, {
          decimalPlaces: 0,
          watchExternalChanges: true,
          //need to make maximum value conditional on property
          maximumValue: "100",
          minimumValue: "0",
          modifyValueOnWheel: false
      });

      if (this.config.api_fact) {
        axios({
        method:'get',
        url:`admin/api/profiles/${this.profile.id}/reporting_periods/${this.reportingPeriod.id}/facts/${this.config.api_fact}`,
        headers: {'X-Requested-With': 'XMLHttpRequest', 'content-type':'application/json'}
      }).then(resp => {
        if(!this.value){
            this.fieldValue = resp.data
          }
        })
      }
    },
    data: function(){
      return {
        fieldValue: this.value
      }
    },
    computed: {
        ...mapState(['profile','reportingPeriod']),
        charactersRemaining: function() {
            const length = (this.value && this.value.length ) || 0;
            if (this.config.maxlength) {
                return this.config.maxlength - length;
            }   
        },
        fieldName: function() {
            return "schemable__" + this.config.key;
        }
    },
    methods: {
        inputReceived: function(value) {
            this.fieldValue = value;
            this.$emit('input', value);
        }
    }
}

</script>
