<script>

import {mapState} from 'vuex';

export default {
    name: 'radio',
    props: ['config', 'disabled', 'value'],
    mounted: function() {
      if (this.config.api_fact) {
        axios({
            method:'get',
            url:`admin/api/profiles/${this.profile.id}/reporting_periods/${this.reportingPeriod.id}/facts/${this.config.api_fact}`,
            headers: {'X-Requested-With': 'XMLHttpRequest', 'Content-Type':'application/json'}
        }).then(resp => {
          this.selectedRadio = resp.data;
          this.onValueChange();
        })
      }
    },
    computed: {
        fieldName: function() {
            return "schemable__" + this.config.key
        },
        ...mapState(['profile', 'reportingPeriod'])
    },
    data: function() {
        return {
          selectedRadio: this.value
        }
    },
    methods: {
        isChecked: function(choiceValue) {
            return choiceValue == this.value;
        },
        onValueChange: function(e) {
            this.$emit('input', this.selectedRadio);
        }
    },
    
}
</script>


<template>
<div>
    <label class="heading">{{config.label}}</label>
    <v-radio-group v-model="selectedRadio" @change="onValueChange">
      <v-radio
        v-for="value in config.values"
        :name="fieldName" 
        :key="value.id"
        :label="value.desc"
        :value="value.value"
      ></v-radio>
    </v-radio-group>
</div>
</template>

<style scoped>
label {
    display: block;
}
</style>