<script>
import { VueEditor } from 'vue2-editor';

export default {
    name: 'wit-richtext',
    components: {
        VueEditor
    },
    data: function() {
        return {
            lastValue: this.value
        }
    },
    props: {
        'value': null,
        'config': {
            default: {}
        }, 
        'disabled': null,
        'labelClass': String,
        isValid: {
            default: true,
            type: Boolean
        },
        errorMessage: {
            default: '',
            type: String
        }
    },
    computed: {
        charactersRemaining: function() {
            const length = (this.value && this.value.length ) || 0;
            if (this.config.maxlength) {
                return this.config.maxlength - length;
            }
            
        },
        fieldName: function() {
            return "schemable__" + this.config.key;
        }
    },
    methods: {
        inputReceived: function(v) {
            if (v !== this.lastValue) {
                this.lastValue = v;
                this.$emit('input', v);
            }
            
        }
    }
}

</script>


<template>
<div>
    <label 
        :title="config.tooltip"
        :for="fieldName"
        :class="labelClass"
    >{{config.label}}</label>
    <vue-editor
        :class="{
            'is-invalid': !isValid,
            'is-disabled': disabled
        }"
        :name="fieldName" 
        :required="config.required"
        :disabled="disabled"
        :maxlength="config.maxlength"
        :value="value"
        @input="inputReceived"
        @blur="$emit('blur')"
    ></vue-editor>
    
    <div class="invalid-feedback">{{errorMessage}}</div>
    <small v-if="config.maxlength" style="float:right;">(Characters remaining: {{charactersRemaining}})</small>
</div>
</template>

<style>
.quillWrapper.is-disabled > .ql-toolbar.ql-snow+.ql-container.ql-snow {
    border-top: 1px solid #ccc;
}

.quillWrapper.is-disabled > div.ql-toolbar.ql-snow {
    display: none;
}

#quill-container.ql-disabled > div.ql-editor.ql-blank {
    background-color: #e9ecef;
}
</style>