<template>

<div :title="config.tooltip">
   
    <h3>{{config.label}}</h3>
    <v-data-table class="table-question"
      :headers="headers"
      :items="rows"
      :search="search"
      :custom-filter="filterItems"
      :pagination.sync="pagination"
      hide-actions
      v-model="selected"
    >

      <template slot="items" slot-scope="props">
        <tr :active="props.selected" @click="props.selected = !props.selected">
            <td v-if="config.delete || config.update" class="checkbox-column">
                <v-checkbox
                    primary
                    hide-details
                    :input-value="props.selected"
                ></v-checkbox> 
            </td>
            <td 
                v-for="column in columns"
                v-if="column.value" 
                :key="column.value"
            >
                <div v-if="column.type !== 'button'">
                    <custom-table-cell-text :column="column" :item="props.item"></custom-table-cell-text>
                </div>
                <v-btn v-else>{{column.text}}</v-btn>
            </td>
        </tr>
      </template>

    </v-data-table>
    <h6 v-if="config.note" class="note">{{config.note}}</h6>
    <v-btn v-if="config.update" @click="updateRecord">Edit</v-btn>
    <v-btn v-if="config.create" @click="createRecord">Add New</v-btn>
    <v-btn v-if="config.copy" @click="copyRecord">Copy & Edit</v-btn>
    <v-btn v-if="config.delete" @click="deleteRecord">Delete</v-btn>
    <div>{{config.subtitle}}</div>
    <!-- <input type="hidden" :name="fieldName" :disabled="disabled" :value="submitValue" @change="$emit('input', submitValue)"/> -->
</div>

</template>

<script>
import {mapState, mapMutations} from 'vuex';
import CustomTableCellText from "../configure/CustomTableCellText.vue";

export default {
    name: 'dynamic-table',
    components: {
        'custom-table-cell-text': CustomTableCellText
    },
    props: {
        'config': Object,
        'options': Array,
        'required': Boolean, 
        'disabled': {
            type: Boolean,
            default: true
        }, 
        'value': true,
        'rowId': String,
        'apiParams': {
            default: function() {
                return {}
            }
        }
    },
    mounted: function() {       
        this.getData(); 
    } ,
    data: function() {
        return {
            //pass initial parent component (dynamic-table) properties to data rows and columns
            //config.data initially empty but will be synced from child api call
            rows: this.config.data || [],
            selected:[],
            pagination: {
              rowsPerPage: -1
            },
            search: ""
        }
    },
    computed: {
        ...mapState({refreshTable: state => state.dynamicFormTable.refreshTable,
          profile:'profile',
          reportingPeriod: 'reportingPeriod',
          reportId:'reportId'}),
          submitValue: function(state) {
            return JSON.stringify(this.rows)
        },
        headers: function() {
            if(this.config.update || this.config.delete) {
              return [{"text": "", "value": ""}].concat(JSON.parse(this.config.columns));
            } else {
              return JSON.parse(this.config.columns); 
            }
        },
        columns: function() {
          return JSON.parse(this.config.columns); 
        },
        fieldName: function() {
            return "schemable__"+this.config.key
        },
        getRowId: function() {
            return this.rowId || 'id';
        },
        selectedRecord: function(){
          return {
          ...this.selected[0],
          questionId: this.fieldName
          }
        }
    },
    watch: {
      refreshTable: function(data){
        if(data){
          this.getData();
          this.selected = [];
        }
      }
    },
    methods: {
        ...mapMutations({
          setCurrentEditRecord: 'dynamicFormTable/setCurrentEditRecord',
          setCurrentTableCols: 'dynamicFormTable/setCurrentTableCols',
          changeUpdateTableRecord: 'dynamicFormTable/changeUpdateTableRecord',
          changeCreateTableRecord: 'dynamicFormTable/changeCreateTableRecord',
          changeCopyTableRecord: 'dynamicFormTable/changeCopyTableRecord',
          changeDeleteTableRecord: 'dynamicFormTable/changeDeleteTableRecord',
          setRefreshTableStatus: 'dynamicFormTable/setRefreshTableStatus'
        }),
        getData: function() {
          if (this.config.apiUrl) {
            const apiParams = this.apiParams;
            let params = {...apiParams};
            
            const whitelist = this.config.apiParamsWhitelist || [];

            if (whitelist.length > 0) {
                params = {};
                this.config.apiParamsWhitelist.forEach(function(paramName) {
                    params[paramName] = apiParams[paramName]
                })
            }

            axios.get(this.config.apiUrl, {
                params: params
            }).then(response => {
                let data = response.data.data ? response.data.data : response.data;
                // if (this.config.dataPath) {
                //     data = response.data.data[this.config.dataPath];
                // }
                this.rows = data || [];
                this.setRefreshTableStatus(false);
            })

          }

          if(this.config.apiUrl.includes("teacher_evaluations")){
            this.search = "499 599"
          }
        },
        createRecord: function() {
          let cols = this.columns
          let currentEditObj = {}

          this.changeCreateTableRecord(true);
          this.setCurrentTableCols(cols);
          cols.forEach(obj => {
            currentEditObj[obj.value] = "";
          })
          currentEditObj.apiUrl = this.config.apiUrl
          this.setCurrentEditRecord(currentEditObj)
        },
        copyRecord: function() {
          if(this.selected.length == 1){
            this.changeCopyTableRecord(true);
            this.setCurrentEditRecord(this.selectedRecord);
          } else {
            alert("Please select only one row to edit.")
            //or handle disabling edit button separately
          }
        },
        updateRecord: function() {
          if(this.selected.length == 1){
            this.changeUpdateTableRecord(true);
            this.setCurrentEditRecord(this.selectedRecord);
          } else {
            alert("Please select only one row to edit.")
            //or handle disabling edit button separately
          }
        },
        deleteRecord: function() {
          this.changeDeleteTableRecord(true);
          // this.setCurrentEditRecord(this.selectedRecord);
          if (confirm('Are you sure you want to delete the selected items?')){
            this.selected.forEach((selection)=> {
              axios.delete(this.config.apiUrl + '/' + selection.id, selection).then(resp => {
                this.changeDeleteTableRecord(false);
                this.getData();
              });
            })
          }
        },
        filterItems: function(rows, search, filter) {
         
          let terms = search.toString().toLowerCase().split(" ");
         
          if (!search){ 
            return rows
          } else {
            return rows.filter(row => {
              if(!row.course_number.includes(terms[0]) &&
                !row.course_number.includes(terms[1])) {
                  return true
              }
              return false                 
            })

          }
        },
        capitalizeFirstLetter: function(string) {
          return string.charAt(0).toUpperCase() + string.slice(1);
        },
        clickAddRow: function() {
            this.rows.push({})
        },
        clickRemoveRow: function(index) {
            this.rows.splice(index, 1);
        },
        resolveFieldValue: function(row, column) {
            let value = this.fetchFromObject(row, column.key);

            if (column.render && value) {
                const renderName = 'render' + this.capitalizeFirstLetter(column.render)
                if (this[renderName]) {
                    value = this[renderName](column, value);
                }
            }
            
            return value;
        },
        fetchFromObject: function(obj, prop) {
            const origProp = prop;
            if(typeof obj === 'undefined') {
                return '';
            }

            var _index = prop.indexOf('.')
            if(_index > -1) {
                return this.fetchFromObject(obj[prop.substring(0, _index)], prop.substr(_index + 1));
            }
          
            return obj[prop];
        },
        renderNumber: function(column, value) {
            let result = value;
            const precision = (column.precision === undefined) ? 2 : column.precision;
            if (typeof result === 'string') {
                try {
                    result = parseFloat(result, 10);
                } catch(e) {
                    result = value;
                }
            }

            if (isNaN(result)) {
                result = value;
            } else {
                result = result.toFixed(precision);
            }

            return result;
        },
        renderPercent: function(column, value) {
            const precision = (column.precision === undefined) ? 2 : column.precision;
            let result = value;
            if (typeof result === 'string') {
                try {
                    result = parseFloat(result, 10);
                } catch(e) {
                    result = value;
                }
            }
            
            if (isNaN(result)) {
                result = value;
            } else {
                result = result * 100;

                result = result.toFixed(precision);

                result = result + '%';
            }

            return result;
        },
        changeSort (column) {
          if (this.pagination.sortBy === column) {
            this.pagination.descending = !this.pagination.descending
          } else {
            this.pagination.sortBy = column
            this.pagination.descending = false
          }
        }
    }
    
}
</script>

<style scoped>
.table-question {
  margin: 16px 0 8px 0;
}

th {
    background-color: #4e2a84;
    color: #fff;
}

td, th {
    border: 1px dotted grey;
    padding: 0.3em;
}

.align-right {
    text-align: right;
}

.hover-hand:hover {
    cursor: pointer;
}
</style>