<template>
<div>
    <!--removed :rules="[(v) => v.length <= config.maxlength]" from v-text-field to stop error-->
    <!--removed @input="inputChange(config.key, ...arguments)"  -->
    <v-text-field
        :class="{
            'form-control': true,
            'is-invalid': !isValid
        }"
        :name="fieldName" 
        :label="config.label"
        :disabled="disabled"
        v-model="fieldValue"
        @blur="$emit('blur')"
        :counter = "config.maxlength"
        :textarea="textFieldType"
        :error-messages="errorMessage"
    ></v-text-field>
</div>
</template>
<script>
import {mapState, mapMutations} from 'vuex';

export default {
    name: 'wit-textarea',
    props: {
        'value': { type: String },
        'config': {
            default() {}
        }, 
        'disabled': null,
        'labelClass': String,
        isValid: {
            default: true,
            type: Boolean
        },
        errorMessage: {
            default: '',
            type: String
        }
    },
    data: function(){
      return {
        maskValue: null
      }
    },
    mounted: function() {
      this.setMaskValue();
      if (this.config.api_fact) {
        axios({
        method:'get',
        url:`admin/api/profiles/${this.profile.id}/reporting_periods/${this.reportingPeriod.id}/facts/${this.config.api_fact}`,
        headers: {'X-Requested-With': 'XMLHttpRequest', 'content-type':'application/json'}
      }).then(resp => {
          if(!this.value){
            this.fieldValue = resp.data;
          }
        })
      }
    },
    computed: {
        ...mapState({ profile:'profile', 
        reportingPeriod:'reportingPeriod', 
        currentEditRecord: state => state.dynamicFormTable.currentEditRecord}),
        charactersRemaining: function() {
            const length = (this.value && this.value.length ) || 0;
            if (this.config.maxlength) {
                return this.config.maxlength - length;
            }
        },
        fieldName: function() {
          return "schemable__" + this.config.key;
        },
        fieldValue: {
          get: function () {
            //this doesn't clear out after form submitted. 
            //get should be based on currentEditRecord
            if (this.currentEditRecord[this.config.key]) {
              return this.currentEditRecord[this.config.key]
            } else return this.value
            
          },
          set: function(value){
            // console.log(value)
            // console.log(this.config.key)
            let currentRecord = Object.assign({},this.currentEditRecord);
            currentRecord[this.config.key] = value;
            this.setCurrentEditRecord(currentRecord);
          }
        },
        textFieldType: function(){
          if (this.config.type == 'textarea'){
            return true
          } else {
            return false
          }
        }
    },
    methods: {
      ...mapMutations({
        setCurrentEditRecord: 'dynamicFormTable/setCurrentEditRecord'
      }),
      setMaskValue: function(){
        this.maskValue = this.config.label.includes('ORCID') ? '#### - #### - #### - ###N' : '';
      }
      // inputChange: function(key, value) {
      //   this.$emit('input', value);
      //   let currentRecord = this.currentEditRecord;
      //   currentRecord[key] = value;
      //   this.setCurrentEditRecord(currentRecord);
      // }
    }
}

</script>



