<script>
export default {
    name: 'unknown',
    props: ['config', 'disabled', 'value']
}
</script>


<template>
<div>
    <label :title="config.tooltip">
        {{config.label}}
    </label>
    <input class="form-control" :disabled="true" :value="'Unknown config type: '+config.type"></input>
</div>
</template>