<script>

export default {
    name: 'upload',
    props: {
        'value': null,
        'config': {
            default: {}
        }, 
        'disabled': null
    },
    computed: {
        fieldName: function() {
            return "schemable__" + this.config.key;
        }
    },
    methods: {
        valueChanged: function(e) {
            this.$emit('input', e.target.value);
        }
    }
}

</script>


<template>
<div>
    <label 
        :title="config.tooltip"
        :for="fieldName"
    >{{config.label}}</label>

    <input
        class="form-control"
        type="file"
        :disabled="disabled"
        :name="fieldName" 
        :required="config.required"
        @change="valueChanged"
    />
</div>
</template>
