<template>
    <div>
        Words here
        
    </div>
</template>

<script>
import ResultForm from './Form.vue'
import Configure from './configure/Configure.vue'

export default {
    name: 'App',
    components: {
        Configure,
        ResultForm
    }
}
</script>

<style lang="scss">
body {
    height: 100%;
}

#app {
    bottom: -120px;
}
</style>