<template>
<div>
    <dynamic-field 
        v-for="(field, key) in currentFields" 
        :apiParams="apiParams"
        :field="field" 
        :key="field.key"
        :disabled="disabled"
        @questionControllerInput="isFieldVisible"
        :visible="field.visible"
        :value="values['schemable__'+key]"
        @input="valueChange(field, key, ...arguments)"
        :validation="currentValidation[key]"
    >
    </dynamic-field>
</div>
</template>

<script>

import DynamicField from './fields/DynamicField.vue';
import { validateFields } from './util/validation.js';

export default {
    name: 'dynamic-form',
    props: ['schema', 'values', 'readOnly', 'activeTab', 'apiParams'],
    components: {
        'dynamic-field': DynamicField
    },
    mounted: function() {
        // this.$emit('validationchange', this.currentValidation);
        //console.log(this.values)
    },
    updated: function(){
      //console.log('form updated')
    },
    data: function(){
      return {
        fieldPath:'',
        fieldValues: []
      }
    },
    computed: {
        currentValidation: function() {
          let fieldValidation = validateFields(this.schema, this.values);
          this.$emit('validationchange', fieldValidation);
          return fieldValidation;
        },
        dataSchema: function(){
          return this.schema;
        },
        currentFields: function() {
          if (this.activeTab) {
              const currentFields = {}
              const activeTab = this.activeTab
              const schema = this.dataSchema
              Object.keys(schema).forEach(function(key) {
                  if (schema[key].tab === activeTab) {
                      currentFields[key] = schema[key]
                  }
              })
              return currentFields;
          } else {
              return this.schema
          }
        }
    },
    methods: {
        isFieldVisible: function(answer){
          let ques;
          for (ques in this.dataSchema) {
            //WHAT IF LABEL CHANGES?
            if(this.dataSchema[ques]['label'] == 'Global Involvement'){
              this.dataSchema[ques]['visible'] = answer;
            }
          }
        },
        valueChange: function(...args) {  
          // this[fieldValue+key] = values['schemable__'+field.key.toString().split('.')[0]]
          // ['schemable__'+field.key.toString().split('.')[1]]
          this.$emit('input', args );
        }
    }
}
</script>

<style lang="scss">

</style>
