<template>
    <div class="wit-dynamic-form">
        <config-combo></config-combo>
        <div v-if="hasSections()" >
            <div v-for="section in sections()" :key="section.key" class="">
                <div v-for="fieldRow in section.display" :key="fieldRow.toString()" class="row">
                    <dynamic-field v-for="field in fieldRow" :field="field" :key="field.key" class="col-md">
                    </dynamic-field>
                </div>
            </div>
        </div>
        <div v-else class="card" >
            <div class="card-block">
                <h2 class="card-title">Fields in Configuration</h2>
                <dynamic-field  v-for="field in orderedFields()" :field="field" :key="field.key">
                </dynamic-field>
            </div>
        </div>
    </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex';
import DynamicField from './fields/DynamicField.vue';
import ConfigCombo from './fields/ConfigCombo.vue'
import Combo from './fields/Combo.vue';

export default {
    name: 'result-form',
    components: {
        'dynamic-field': DynamicField,
        combo: Combo,
        'config-combo': ConfigCombo
    },
    
    computed: {
        ...mapState(['selectedConfigName', 'config', 'configs'])
    },
    methods: {
        ...mapGetters(['sections', 'orderedFields']),
        hasSections: function() {
            const config = this.config;
            return false;
            if (this.config.tabs) {
                return true ;
            } else {
                return false;
            }
        }
    }
}
</script>

<style lang="scss">
@import "node_modules/bootstrap/scss/bootstrap.scss";

.wit-dynamic-form {
    padding-top: 1em;
}
</style>
