<template>
<button 
    type="button" 
    class="btn btn-sm" 
>
    <icon :name="icon" class="align-middle"></icon>
</button>
</template>

<script>
export default {
    name: 'icon-button',
    props: ['icon']
}
</script>