<template>
    <div class="raw-json container-fluid">
        <div class="row">

            <div 
                v-if="!hideConfigPanel" 
                :class="{
                    'card-block': true,
                    'col-6': !hideConfigPanel
                }"
            >
                <h2 class="card-title">Raw Json Schema</h2>
                <nav class="navbar d-inline">
                    <button class="btn btn-sm" @click="formatJson">Format Json</button>
                    <combo 
                        :options="sampleSchemas"
                        @change="sampleSchemaChange"
                        v-model="selectedSampleSchema"
                    ></combo>
                </nav>
                <div
                    v-if="errorMessage"
                    class="alert alert-danger json-status"
                    >
                    {{errorMessage}}
                </div>
                <div v-else 
                    :class="{
                        alert: true, 
                        'alert-success': schemaErrors.length == 0, 
                        'alert-warning': schemaErrors.length > 0, 
                        'json-status': true
                    }">
                    JSON is valid
                    <ul v-if="schemaErrors.length > 0">
                        <li v-for="error in schemaErrors" :key="error">
                            {{error}}
                        </li>
                    </ul>
                </div>
                <textarea  v-model="rawJson" class="tall-text-area form-control" @keydown="jsonKeyDown"></textarea>
            </div>

            <form 
                v-if="!showSamplePost" 
                :class="{
                    'card-block': true,
                    'col-6': !hideConfigPanel,
                    'col-12': hideConfigPanel
                }"
                @submit.prevent="formPost"
            >
                <h2 class="card-title">Fields in Configuration</h2>
                <nav class="navbar d-inline">
                    <button class="btn btn-sm" >Sample Post</button>

                    <input 
                        type="checkbox"
                        v-model="previewReadOnly"
                    >Read Only</input>
                    <input 
                        type="checkbox"
                        v-model="hideConfigPanel"
                    >Hide Config</input>
                </nav>
                <combo 
                    :options="possibleTabs"
                    v-model="activeTab"
                ></combo>
                <dynamic-form
                    :schema="orderedFields"
                    :values="samplePostRawJson"
                    :activeTab="activeTab"
                    :readOnly="previewReadOnly"
                    :apiParams="{
                        'testParam1': 1,
                        'testParam2': 2
                    }"
                    @input="formValuesChanged"
                >

                </dynamic-form>
                
            </form>

            <div v-if="showSamplePost" class="card-block col-6">
                <h2 class="card-title">Sample Post</h2>
                <nav class="navbar d-inline">
                    <button class="btn btn-sm" @click="backToForm">View Form</button>
                </nav>
                <textarea 
                    :value="samplePostJson"
                    readonly
                    class="form-control tall-text-area"
                ></textarea>
            </div>
        </div>
    </div>
    
</template>

<script>
import { mapState, mapGetters } from 'vuex';
import Vue from 'vue'

import Combo from './fields/Combo.vue'
import DynamicField from './fields/DynamicField.vue'
import DynamicForm from './DynamicForm.vue'
import { flatFields, validateSchema } from './util/schemableConfig.js'

import SAMPLE_SCHEMAS from './assets/sampleSchemas.js'

export default {
    name: 'raw-json',
    components: {
        'dynamic-form': DynamicForm,
        'dynamic-field': DynamicField,
        combo: Combo
    },
    
    data: function() {
         return {
            activeTab: '',
            errorMessage: '',
            hideConfigPanel: false,
            rawJson: '{}',
            samplePostJson: '{}',
            samplePostRawJson: {},
            currentFormValues: {},
            schemaErrors: [],
            showSamplePost : false,
            form: {},
            previewReadOnly: false,
            selectedSampleSchema: '',
            sampleSchemas: SAMPLE_SCHEMAS
        }
    },
    
    computed: {
        possibleTabs: function() {
            let jsonObj;
            let tabs = [{
                value: '',
                desc: 'All'
            }];
            try {
                jsonObj = JSON.parse(this.rawJson);
                
            } catch(e) {
                return tabs;
            }

            if (jsonObj.tabs) {
                jsonObj.tabs.forEach(function(tab) {
                    tabs.push({
                        value: tab.key,
                        desc: tab.label
                    })
                })
            }

            return tabs;
        },
        orderedFields: function() {
            let jsonObj;
            try {
                jsonObj = JSON.parse(this.rawJson);
                this.errorMessage = '';
                this.schemaErrors = validateSchema(jsonObj);
                return flatFields(jsonObj);
            } catch(e) {
                this.errorMessage = e.message;
            }
        }
    },
    methods: {
        getFieldValue: function(key) {
            return this.samplePostRawJson['schemable__'+key];
        },
        jsonKeyDown: function(e) {
            var keyCode = e.keyCode || e.which;
            var ctrl = e.target;
            this.selectedSampleSchema = '';
            if (keyCode == 9) {
                e.preventDefault();
                var start = ctrl.selectionStart;
                var end = ctrl.selectionEnd;
                // set textarea value to: text before caret + tab + text after caret
                this.rawJson = (this.rawJson.substring(0, start) + "\t" + this.rawJson.substring(end));

                // put caret at right position again after vue updates the dom
                Vue.nextTick(()=> {
                    ctrl.selectionStart = ctrl.selectionEnd = start + 1
                });
            }
        },
        formatJson: function() {
            try {
                this.rawJson = JSON.stringify(JSON.parse(this.rawJson), null, "\t")
                this.errorMessage = '';
                
            } catch(e) {
                
                this.errorMessage = e.message;
            }
        },
        formPost: function(e) {
            
            //this.samplePostRawJson = obj;
            this.samplePostJson = JSON.stringify(this.currentFormValues, null, 4);

            this.showSamplePost = true;
        },
        formValuesChanged: function(formValues) {
            this.currentFormValues = formValues;
        },
        backToForm: function() {
            this.showSamplePost = false;
        },
        sampleSchemaChange: function(e, newValue) {
            this.showSamplePost = false;
            this.rawJson = newValue;
            this.samplePostRawJson = {};
            this.samplePostJson = '{}';
            this.formatJson();
        }

    }
}

</script>

<style lang="scss" scoped>
.raw-json {
    padding-top: 1em;
}


.tall-text-area {
    min-height: 400px;
}
.json-status {
    padding-top: 5px !important; 
    padding-bottom: 5px !important;
}

input[type=checkbox] {
    margin-right: 0.5em;
    margin-left: 1em;
}

</style>
